<h1>{{tittle}}</h1>


<table>


     <tr>
   
    <th>Name</th>
    <th>Surname </th>
    <th>Email</th>
    <th>Gender</th>
   
  </tr>


       <tr>
     
    <td>{{form.fname}}</td>
    <td>{{form.lname}}</td>
    <td>{{form.email}}</td>
    <td>{{form.gender}}</td>
     
  </tr>




</table>
